.Header {
    background-color: #222;
    /*height: 150px;*/
    /*padding: 20px;*/
    color: white;
    text-align: center;
}

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
